[submodule "AEyeProj/AEyeProj/HandRecog/hand-gesture-recognition-mediapipe"]
	path = AEyeProj/AEyeProj/HandRecog/hand-gesture-recognition-mediapipe
	url = https://github.com/kinivi/hand-gesture-recognition-mediapipe
